@use "@sass-palette/hope-config";
@use "base";
@use "account";
@use "card";
@use "docs";
@use "list";
@use "location";
@use "grid";

.vp-project-home {
  // adjust action button size
  .vp-action {
    padding: 0.5rem 1.25rem;
    font-size: 1.25rem;

    @media (max-width: hope-config.$tablet) {
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
  }

  .vp-feature {
    .vp-feature-title {
      text-align: center;

      .icon {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 auto 1rem;
      }
    }

    // adjust feature breakpoint
    @media (max-width: hope-config.$tablet) {
      .vp-feature-item {
        flex-basis: calc(50% - 2rem);
        padding: 0.5rem;
      }

      .icon {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 auto 0.75rem;
      }
    }
  }

  .theme-hope-content {
    margin-top: 1rem;
  }
}
