$theme-color: #41c98b;
$bg-color: (
  light: #fff,
  dark: #000,
);
$bg-color-block: (
  light: #f3f3f8,
  dark: #1c1c1e,
);
$bg-color-hover: (
  light: rgb(0 0 0 / 10%),
  dark: rgb(255 255 255 / 10%),
);
