name: Generate and deploy docs

on:
  push:
    branches:
      - main
    paths:
      - "data/**"
      - "pages/**"
      - "scripts/**"
      - "site/**"

permissions:
  contents: write

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: main
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          run_install: true

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm

      - name: Generate Site
        run: pnpm generate:site

      - name: Build Site
        env:
          NODE_OPTIONS: --max_old_space_size=8192
        run: pnpm build:site

      - name: Deploy to gh pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: site/.vuepress/dist
          single-commit: true

  deploy-server:
    runs-on: ubuntu-latest
    needs: deploy-gh-pages
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: gh-pages
          fetch-depth: 0

      - name: Configuration environment
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan innenu.com >> ~/.ssh/known_hosts
          git config --global user.name 'Mr.Hope'
          git config --global user.email 'mister-hope@outlook.com'

      - name: Deploy
        run: |
          ssh git@innenu.com "git config --global --add safe.directory /www/wwwroot/innenu-docs"
          git push -f git@innenu.com:/www/wwwroot/innenu-docs gh-pages
          ssh git@innenu.com "cd /www/wwwroot/innenu-docs && git reset --hard HEAD"
