name: Linter test

on:
  push:
    branches:
      - main

jobs:
  linter-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: main
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          run_install: true

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: pnpm

      - name: Linter Test
        env:
          NODE_OPTIONS: --max_old_space_size=4096
        run: pnpm lint
